<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kinghoddy.skychat" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>skychat</name>
    <description>
          A blasing fast  social media by kinghoddy
    </description>
    <author email="odunmilade@gmail.com" href="http://hoddy.netlify.com">
Noel odunmilade sogbuyi
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
                <splash src="res/logo/skychat_bg.jpg" />
        <icon src="res/logo/logo_red.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
        <preference name="SplashScreenDelay" value="1000" />
    <preference name="SplashMaintainAspectRatio" value="false" />
    <preference name="SplashShowOnlyFirstTime" value="true" />
<preference name="android-minSdkVersion" value="19" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.3" />
</widget>
